<header>
  <div class="header-container">
    <div class="logo">
      <a routerLink="/home">
        <img src="/Images/Logo.png" alt="" />
        <span>კლინიკა</span>
      </a>
    </div>
    <div class="header-box">
      <ul>
        <li *ngIf="this.userServiceService.myUser.role === 'admin'">
          <a routerLink="/doctors" routerLinkActive="active-link">ექიმები</a>
        </li>
        <li>
          <a routerLink="/clinics" routerLinkActive="active-link">კლინიკები</a>
        </li>
        <li>
          <a routerLink="/anotations" routerLinkActive="active-link"
            >ანოტაციები</a
          >
        </li>
        <li>
          <a routerLink="/discounts" routerLinkActive="active-link">აქციები</a>
        </li>
        <li>
          <a routerLink="/services" routerLinkActive="active-link">სერვისები</a>
        </li>
        <li>
          <a routerLink="/medicaments" routerLinkActive="active-link"
            >მედიკამენტები</a
          >
        </li>
        <li>
          <a routerLink="/contact" routerLinkActive="active-link">კონტაქტი</a>
        </li>
        <li *ngIf="this.userServiceService.myUser.role === 'admin'">
          <a routerLink="/doctor-register" routerLinkActive="active-link"
            >ექიმის რეგისტრაცია</a
          >
        </li>
      </ul>
      <ul *ngIf="this.userServiceService.myUser.name == null">
        <li>
          <a (click)="authScreenService.addSignScreen()" style="cursor: pointer"
            >აუტორიზაცია</a
          >
        </li>
        /
        <li>
          <a routerLink="/sign-up" routerLinkActive="active-link"
            >რეგისტრაცია</a
          >
        </li>
      </ul>
      <ul *ngIf="this.userServiceService.myUser.name != null" class="profile">
        <li>
          {{ this.userServiceService.myUser.name }}
        </li>
        <li
          *ngIf="
            this.userServiceService.myUser.photo == null &&
            this.userServiceService.myUser.role !== 'admin'
          "
        >
          <a [routerLink]="'/profile/' + this.userServiceService.myUser.id"
            ><img src="/Images/Profile.png" alt=""
          /></a>
        </li>
        <li
          *ngIf="
            this.userServiceService.myUser.photo !== null &&
            this.userServiceService.myUser.role !== 'admin'
          "
        >
          <a [routerLink]="'/profile/' + this.userServiceService.myUser.id"
            ><img
              [src]="
                'data:image/jpeg;base64,' + this.userServiceService.myUser.photo
              "
              alt=""
          /></a>
        </li>
        <li>
          <button (click)="this.cookieServiceService.removeCookieAll()">
            Sign Out
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="search">
    <div>
      <img src="/Icons/call.svg" alt="" />
      <span>032 2 100 100</span>
    </div>
    <div>
      <img src="/Icons/location.svg" alt="" />
      <span>იაკობ ნიკოლაძე №10</span>
    </div>
    <div class="inputs">
      <div class="input-box">
        <input type="text" placeholder="მოძებნე ექიმი სახელით" />
      </div>
      <div class="input-box">
        <mat-form-field appearance="fill" class="hide-ripple">
          <input
            type="text"
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto"
          />

          <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="onOptionSelected($event)"
            class="math-autocomplete"
          >
            <mat-option
              *ngFor="let option of filteredOptions | async"
              [value]="option"
            >
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
    <div class="search-button">
      <button>
        <img src="/Icons/search.svg" alt="" />
      </button>
    </div>
  </div>
</header>
