header {
  padding: 0 10px;
  .header-container {
    width: 1500px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .logo {
      display: flex;
      align-items: center;
      gap: 2px;
      img {
        width: 70px;
      }
      span {
        color: #ff2c52;
        font-weight: 700;
      }
    }
    .header-box {
      display: flex;
      align-items: center;
      ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 10px;
        li {
          position: relative;
          a {
            color: #053354;
            text-decoration: none;
          }

          &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            top: 25px;
            height: 2px;
            background-color: #052338;
            transition: width 0.5s ease;
          }

          &:hover::before {
            width: 100%;
          }
        }
      }
    }
    .active-link {
      font-weight: 700;
    }
  }

  .search {
    width: 1500px;
    max-width: 100%;
    margin: 3rem auto;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.8rem;
    div {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      span {
        color: #053354;
        font-weight: 600;
      }
    }

    .inputs {
      display: flex;
      gap: 0.5rem;
      input {
        border: 1px solid rgb(75, 170, 194);
        outline: none;
        border-radius: 1rem;
        padding: 0.6rem 0.8rem;
      }
    }
    .search-button {
      button {
        border: none;
        background: #053354;
        cursor: pointer;
        padding: 5px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
