<header>
  <div class="header-container">
    <div class="logo">
      <img src="/Images/Logo.png" alt="" />
      <span>კლინიკა</span>
    </div>
    <div class="header-box">
      <ul>
        <li>
          <a routerLink="/doctors" routerLinkActive="active-link">ექიმები</a>
        </li>
        <li>
          <a routerLink="/clinics" routerLinkActive="active-link">კლინიკები</a>
        </li>
        <li>
          <a routerLink="/anotations" routerLinkActive="active-link"
            >ანოტაციები</a
          >
        </li>
        <li>
          <a routerLink="/discounts" routerLinkActive="active-link">აქციები</a>
        </li>
        <li>
          <a routerLink="/services" routerLinkActive="active-link">სერვისები</a>
        </li>
        <li>
          <a routerLink="/medicaments" routerLinkActive="active-link"
            >მედიკამენტები</a
          >
        </li>
        <li>
          <a routerLink="/contact" routerLinkActive="active-link">კონტაქტი</a>
        </li>
      </ul>
      <ul>
        <li>
          <a (click)="authScreenService.addSignScreen()" style="cursor: pointer"
            >აუტორიზაცია</a
          >
        </li>
        /
        <li>
          <a routerLink="/sign-up" routerLinkActive="active-link"
            >რეგისტრაცია</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="search">
    <div>
      <img src="/Icons/call.svg" alt="" />
      <span>032 2 100 100</span>
    </div>
    <div>
      <img src="/Icons/location.svg" alt="" />
      <span>იაკობ ნიკოლაძე №10</span>
    </div>
    <div class="inputs">
      <input type="text" placeholder="მოძებნე ექიმი სახელით" />
      <input type="text" placeholder="მოძებნე სპეციალობით" />
    </div>
    <div class="search-button">
      <button>
        <img src="/Icons/search.svg" alt="" />
      </button>
    </div>
  </div>
</header>
