header {
  padding: 0 10px;
  .header-container {
    width: 1500px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .logo {
      a {
        display: flex;
        align-items: center;
        gap: 2px;
        text-decoration: none;
        img {
          width: 70px;
        }
        span {
          color: #ff2c52;
          font-weight: 700;
        }
      }
    }
    .header-box {
      display: flex;
      align-items: center;
      ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 10px;
        li {
          position: relative;
          a {
            color: #053354;
            text-decoration: none;
          }

          &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            top: 25px;
            height: 2px;
            background-color: #052338;
            transition: width 0.5s ease;
          }

          &:hover::before {
            width: 100%;
          }
        }
      }
      .profile {
        display: flex;
        align-items: center;
        gap: 10px;
        li {
          img {
            width: 30px;
            height: 30px;
            cursor: pointer;
          }
          &::before {
            display: none;
          }
          button {
            border: none;
            cursor: pointer;
            background: #053354;
            color: #fff;
            padding: 0.3rem 0.6rem;
            border-radius: 20px;
          }
        }
      }
    }
    .active-link {
      font-weight: 700;
    }
  }

  .search {
    width: 1500px;
    max-width: 100%;
    margin: 3rem auto;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.8rem;
    div {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      span {
        color: #053354;
        font-weight: 600;
      }
    }

    .inputs {
      display: flex;
      gap: 1.5rem;
      align-items: center;
      .input-box {
        position: relative;
        width: 300px;
        position: relative;
        .hide-ripple {
          height: 90px;
          position: relative;
          width: 100%;
        }
        input {
          border: 1px solid rgb(75, 170, 194);
          outline: none;
          border-radius: 1rem;
          padding: 0.6rem 0.8rem;
          width: 100%;
          position: absolute;
          left: 50%;
          top: 80%;
          transform: translate(-50%, -50%);
          width: 100%;
        }

        .hide-ripple {
          position: relative;
          width: 400px;
          overflow-x: hidden;

          .mdc-line-ripple {
            display: none !important;
            &::before,
            &::after {
              border-bottom-color: red !important;
            }
          }

          .mat-mdc-input-element {
            border: 1px solid rgb(75, 170, 194) !important;
            outline: none;
            border-radius: 1rem;
            padding: 0.4rem 0.8rem;
            width: 90%;
          }

          div.mat-mdc-autocomplete-panel {
            background: #052338 !important;
          }
        }
      }
    }
    .search-button {
      button {
        border: none;
        background: #053354;
        cursor: pointer;
        padding: 5px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.mat-mdc-text-field-wrapper {
  background-color: #052338;
}
