<footer>
  <div class="footer">
    <div class="logo">
      <div><img src="/Images/logo2.png" alt="" /></div>

      <span>კლინიკა</span>
    </div>
    <div class="footer-container">
      <div class="titles">
        <ul class="titles-list">
          <li>ინფორმაცია</li>
          <li>პაციენტებისთვის</li>
          <li>კონტაქტი</li>
          <li>გამოგვყევით</li>
        </ul>
        <div class="desc">
          <ul class="desc-list">
            <li>ჩვენ შესახებ</li>
            <li>პარტნიორები</li>
            <li>ექიმებისთვის</li>
            <li>კლინიკებისთვის</li>
            <li>აფთიაქებისთვის</li>
          </ul>
          <ul class="desc-list">
            <li>ექიმები</li>
            <li>კლინიკები</li>
            <li>ანოტაციები</li>
            <li>ბლოგი</li>
            <li>მედია</li>
          </ul>
          <ul class="desc-list">
            <li>სამუშაო დღეები :</li>
            <li>ორშ - პარ</li>
            <li>სამუშაო დრო :</li>
            <li>9:00 - 17:00</li>
            <li>იაკობ ნიკოლაძე №10</li>
            <li>032 2 100 100</li>
          </ul>
          <ul class="desc-list num-4">
            <li>Facebook</li>
            <li>Instagram</li>
            <li>Youtube</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
