<div class="sign-up">
  <p-toast />
  <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
    <div>
      <div class="input-box">
        <label for="name">სახელი:</label>
        <input id="name" formControlName="name" />
      </div>

      <div
        *ngIf="signUpForm.get('name').invalid && signUpForm.get('name').touched"
      >
        <small *ngIf="signUpForm.get('name').hasError('required')"
          >შეავსეთ სახელი</small
        >
        <small *ngIf="signUpForm.get('name').hasError('minlength')"
          >სახელი უნდა შეიცავდეს მინიმუმ 5 სიმბოლოს</small
        >
      </div>
    </div>
    <div>
      <div class="input-box">
        <label for="surname">გვარი:</label>
        <input id="surname" formControlName="surname" />
      </div>
      <div
        *ngIf="
          signUpForm.get('surname').invalid && signUpForm.get('surname').touched
        "
      >
        <small *ngIf="signUpForm.get('surname').hasError('required')"
          >შეავსეთ გვარი</small
        >
        <small *ngIf="signUpForm.get('surname').hasError('minLength')"
          >გვარი უნდა შეიცავდეს მინიმუმ 5 სიმბოლოს</small
        >
      </div>
    </div>
    <div>
      <div class="input-box">
        <label for="email">მეილი:</label>
        <input id="email" formControlName="email" />
      </div>
      <div
        *ngIf="
          signUpForm.get('email').invalid && signUpForm.get('email').touched
        "
      >
        <small *ngIf="signUpForm.get('email').hasError('required')"
          >შეავსეთ მეილი</small
        >
        <small *ngIf="signUpForm.get('email').hasError('email')"
          >შეიყვანეთ ვალიდური მეილი</small
        >
      </div>
    </div>
    <div>
      <div class="input-box">
        <label for="private_number">პირადი ნომერი:</label>
        <input id="private_number" formControlName="private_number" />
      </div>
      <div
        *ngIf="
          signUpForm.get('private_number').invalid &&
          signUpForm.get('private_number').touched
        "
      >
        <small *ngIf="signUpForm.get('private_number').hasError('required')"
          >შეიყვანეთ პირადი ნომერი</small
        >
        <small *ngIf="signUpForm.get('private_number').hasError('minlength')">
          პირადი ნომერი უნდა იყოს 11 ციფრიანი
        </small>
        <!-- Max length error message -->
        <small *ngIf="signUpForm.get('private_number').hasError('maxlength')">
          პირადი ნომერი უნდა იყოს 11 ციფრიანი
        </small>
      </div>
    </div>
    <div>
      <div class="input-box">
        <label for="password">პაროლი:</label>
        <input id="password" formControlName="password" type="password" />
      </div>
      <div
        *ngIf="
          signUpForm.get('password').invalid &&
          signUpForm.get('password').touched
        "
      >
        <small *ngIf="signUpForm.get('password').hasError('required')"
          >შეიყვანეთ პაროლი</small
        >
        <small *ngIf="signUpForm.get('password').hasError('pattern')"
          >პაროლი უნდა იყოს მინიმუმ 8 ასოსგან შემდგარი,უნდა შეიცავდეს დიდ და
          პატარა ასოს და სიმბოლოს</small
        >
      </div>
    </div>

    <div *ngIf="this.isOtp">
      <div class="input-box">
        <label for="otp">კოდი:</label>
        <input id="otp" formControlName="otp" type="otp" />
      </div>
      <div
        *ngIf="signUpForm.get('otp').invalid && signUpForm.get('otp').touched"
      >
        <small *ngIf="signUpForm.get('otp').hasError('required')"
          >შეიყვენეთ სავერიფიკაციო კოდი</small
        >
      </div>
    </div>
    <div class="register-button">
      <button type="submit">რეგისტრაცია</button>
    </div>
  </form>
  <p-progressSpinner ariaLabel="loading" *ngIf="loading" />
</div>
