.home-container {
  .background-container {
    margin: 2rem auto;
    height: 400px;
    width: 100%;
    background-image: url("/Images/clinic.jpeg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    .background-box {
      position: absolute;
      width: 50%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(47, 78, 117, 0.5);
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      .background-text {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 90%;
        h2 {
          color: #fff;
          font-size: 45px;
          line-height: 1.2;
        }
        .address {
          background: #fff;
          color: #053354;
          width: 200px;
          padding: 5px;
          display: flex;
          align-items: center;
          gap: 10px;
          border-radius: 20px;
        }
      }
    }
  }
  .doctors {
    padding: 10px;
    display: flex;
    .categories-container {
      padding-left: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 20%;
      h2 {
        color: #053354;
        font-weight: 600;
        font-size: 20px;
      }
      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        li {
          color: #053354;
          font-size: 15px;
          cursor: pointer;
          .count {
            font-weight: 100;
          }
          span {
            font-weight: 700;
          }
        }
      }
    }
    .get-doctors {
      display: flex;
      flex-wrap: wrap;
      width: 80%;
      align-items: flex-start;

      .get-doctors-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        max-width: 100%;
        padding: 10px;
        .images {
          img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 50%;
            object-position: center top;
          }
        }
        .desc {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          h3 {
            color: #053354;
            font-size: 16px;
            font-weight: 500;
            display: flex;
            justify-content: center;
            gap: 8px;
            text-align: center;
          }
          p {
            text-align: center;
          }
          .icons {
            display: flex;
            justify-content: center;
            gap: 5px;
          }
          a {
            text-decoration: none;
            color: #053354;
            margin-top: 5px;
          }
        }
      }
    }
  }
}
